<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generator</title>
</head>
<body>
    <h1>Generate Code</h1>
    
 <form action="/code" method="POST">
     <b>Center</b>
    <select name="center" id="">
        {{#each centers as |c|}} 
        <option value="{{c.id}}">{{c.name}}</option>
        {{/each}}
    </select>

    <br>

     <b>Course</b>
    <select name="course" id="">
        {{#each courses as |course|}} 
        <option value="{{course.id}}">{{course.name}}</option>
        {{/each}}
    </select>

    <br>

     <b>Season</b>
    <select name="season" id="">
        {{#each seasons as |s|}} 
        <option value="{{s.id}}">{{s.name}}</option>
        {{/each}}
    
    <br>

         <b>Year</b>
      <select name="year" id="">
         {{#each years as |years|}} 
         <option value="{{years}}">{{years}}</option>
         {{/each}} 
     
     <b>Batch No.</b>
     <input name="batchno" type="number" min="1" max="5">

     <b>Start</b>
     <input name="start" type="date">
     
     <br>
     
     <b>End</b>
     <input name="end" type="date">

     <br><br>

     <input type="reset">
     <input  type="submit">
 </form>

</body>
</html>